<!-- Filter products by name -->





<h3>All Products:</h3>
<ul>
  <li *ngFor="let product of products ">
    {{ product.productName }} - ${{ product.price }}
    -{{product.category}}
  </li>
</ul>
<br>


<!-- Filter products by category -->
<fieldset>
  <legend>Select a category:</legend>

  <div>
    <input [(ngModel)]='categoryFilter' type="radio" id="Electronics" name="Category" value="Electronics" checked />
    <label for="Electronics">Electronics</label>
  </div>

  <div>
    <input [(ngModel)]='categoryFilter'type="radio" id="Furniture" name="Category" value="Furniture" />
    <label for="Furniture">Furnitures</label>
  </div>

  <div>
    <input [(ngModel)]='categoryFilter' type="radio" id="Stationery" name="Category" value="Stationery" />
    <label for="Stationery">Stationery</label>
  </div>
</fieldset>

<h3>Products filtered by Category {{categoryFilter}}:</h3>
<ul>
  <li *ngFor="let product of products | filter:categoryFilter">
    {{ product.productName }} - ${{ product.price }}
  </li>
</ul>
<br>
<h3>Products filtered by avaibility:</h3>
<ul>
  <li *ngFor="let product of products | filter:'inStock'">
    {{ product.productName }} - {{ product.category }}- ${{ product.price }}
  </li>
</ul>